<div class="navbar-wrapper" style="margin-top:166px;">
  <div class="container">
    <div class="navbar navbar-inverse navMod" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/cartagenalagunaclub.html">Cartagena Laguna Club</a></li>
          <li><a href="/apartamentos.html"><div class="español">Apartamentos</div><div class="english">Real Estate</div></a></li>
          <li><a href="/cartagena.html">Cartagena</a></li>
          <li><a href="/aventuras.html"><div class="español">Aventuras</div><div class="english">Adventures</div></a></li>
          <li><a href="/contactenos.html"><div class="español">Contáctenos</div><div class="english">Contact us</div></a></li>
        </ul>
      </div>     
    </div>
  </div>
</div>